<link
  data-helmet="alpine-preload"
  rel="preload"
  as="script"
  href="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.3/cdn.min.js"
  integrity="sha512-P0Ms+SM3w8aSbPa5U/nFoprxlUzG2FSz9h/A+2xhhE1hcH6RmGYK3dImFCvcSYuioM3UbbAtMbAopAuHLr94pA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />

<script
  data-helmet="alpine"
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.3/cdn.min.js"
  integrity="sha512-P0Ms+SM3w8aSbPa5U/nFoprxlUzG2FSz9h/A+2xhhE1hcH6RmGYK3dImFCvcSYuioM3UbbAtMbAopAuHLr94pA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>