<link
  data-helmet="reseter-preload"
  rel="preload"
  as="style"
  href="https://cdnjs.cloudflare.com/ajax/libs/reseter.css/2.0.0/reseter.min.css"
  integrity="sha512-gCJkkUMGTe73+FMwog6gIBCVJIMXRoc21l6/IPCuzxCex/1sxvO8ctb6Zd4/WWs2UMqmtnDrAdhJht5pEY0LXg==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />

<link
  data-helmet="reseter"
  rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/reseter.css/2.0.0/reseter.min.css" 
  integrity="sha512-gCJkkUMGTe73+FMwog6gIBCVJIMXRoc21l6/IPCuzxCex/1sxvO8ctb6Zd4/WWs2UMqmtnDrAdhJht5pEY0LXg==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />