{% set author = pkg.author %}

<style data-helmet="author">
  {% include 'styles/author.css' %}
</style>

<aside class="author">
  {% gravatar author.email, author.name, '64px' %}
  <small>{{ pkg.description }}</small>
</aside>
