<style data-helmet="pagination_single">
  {% include 'styles/pagination_single.css' %}
</style>

<div class="meta container">
  {% if item.description.length %}
    <p>{{ item.description }}</p>
  {% endif %}
  <span>{% if item.count > 1 %}{{ item.count }} Einträge sind{% else %}Ein Eintrag ist{% endif %} unter dieser Kategorie gelistet.</span>
  <a href="{{ showAll | absoluteUrl }}">Alle Kategorien anzeigen</a>
</div>

{% if relatedPosts.length %}
  <style data-helmet="articles">
    {% include 'styles/articles.css' %}
  </style>

  <div class="articles">
    {% asyncEach post in relatedPosts %}

      {% include 'preview.njk' %}

    {% endeach %}
  </div>
{% endif %}
