{% macro generateList(name, list, dictionary, link) %}
  {% if list.length %}
    <ul class="list-horizontal {{ name }}">
      {% for id in list %}
        {% for item in dictionary %}
          {% if item.id == id %}
            <li><a href="{{ link + '/' + item.slug | absoluteUrl }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% set categories = generateList('categories', post.categories, categories, '/category') %}
{% set tags = generateList('tags', post.tags, tags, '/tag') %}
{% set permalink = '/post' + post.permalink | absoluteUrl %}

{% setAsync "featured_image" %}
  {% if post.featured_media %}
    {% for attachment in post.attachments %}
      {% if attachment.id == post.featured_media %}
        {% image attachment.source, attachment.alt or attachment.caption, [160, 320, 640], '(min-width: 1440px) 160px, 320px' %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endsetAsync %}

<style data-helmet="preview">
  {% include 'styles/preview.css' %}
</style>

{% if post.featured_media %}
  <style data-helmet="preview_image">
    {% include 'styles/preview_image.css' %}
  </style>
{% endif %}

<article class="preview container"{% if post.featured_media %} data-theme="dark" data-has-image{% else %}{% endif %}>

  {{ featured_image | safe }}

  {# {% if post.categories.length %}{{ categories | safe }}{% endif %} #}
  
  <h2>
    <a data-cover href="{{ permalink }}">{{ post.title.rendered }}</a>
  </h2>

  {{ post.excerpt.rendered | safe }}

  {# {% if post.tags.length %}{{ tags | safe }}{% endif %}
  <span class="date">
    <time datetime="{{ post.date }}">{{ post.date | dateStringFormatted }}</time>
    {% if post.date != post.modified %}<small class="muted">&#x2022; zuletzt geändert am <time datetime="{{ post.modified}}">{{ post.modified | dateStringFormatted }}</time></span>{% endif %}
  </span> #}

   <a class="read-more" href="{{ permalink }}">Den gesamten Beitrag lesen</a>
</article>