
{% set categories %}
  {% for id in post.categories %}
    {% for category in categories %}
      {% if category.id == id %}
        <a href="{{ '/category/' + category.slug | absoluteUrl }}">{{ category.name }}</a>
      {% endif %}
    {% endfor %}
    {% if not loop.last %},{% endif %}
  {% endfor %}
{% endset %}

{% set tags %}
  {% for id in post.tags %}
    {% for tag in tags %}
      {% if tag.id == id %}
        <a href="{{ '/tag/' + tag.slug | absoluteUrl }}">{{ tag.name }}</a>
      {% endif %}
    {% endfor %}
    {% if not loop.last %},{% endif %}
  {% endfor %}
{% endset %}

<article>
  <h2>{{ post.title.rendered }}</h2>
  <span>Zuletzt ge&auml;ndert am {{ post.modified }}</span>,
  {% if post.categories.length %}<span>kategorisiert unter: {{ categories | safe }}</span>{% endif %}<br />
  {% if post.tags.length %}<span>Markiert als: {{ tags | safe }}</span>{% endif %}

  {{ post.excerpt.rendered | safe }}
</article>