:root {
  --color-bg: hsl(205, 27%, 94%);
  --color-bg-muted: hsl(205, 27%, 87%);
  --color-text: hsl(40, 7%, 8%);
  --color-text-muted: hsl(40, 3%, 29%);
  --color-bg-dark: hsl(40, 100%, 67%);
  --color-primary: hsl(168, 37%, 33%);
  --color-secondary: hsl(356, 100%, 53%);

  --space-s: 0.25rem;
  --space-m: 0.5rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;

  --border-radius-s: 4px;
  --border-radius-m: 6px;

  --border-width: 2px;

  --container-width: 1280px;
  --content-width: 1440px;

  --duration: 300ms;
}

@media (prefers-reduced-motion) {
  :root {
    --duration: 0;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
}

picture {
  display: inline-flex;
}

::selection {
  background-color: var(--color-bg-dark);
}

:focus {
  outline: var(--border-width) dashed var(--color, var(--color-primary));
  outline-offset: var(--border-width);
}

.container {
  padding: var(--space-l);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

.full-bleed {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
