:root {
  --color-bg: hsl(205, 87%, 94%);
  --color-text: hsl(40, 7%, 8%);
  --color-bg-dark: hsl(40, 100%, 67%);
  --color-primary: hsl(168, 37%, 33%);
  --color-secondary: hsl(356, 100%, 53%);
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}
