:root,
[data-theme='light'] {
  --color-dark: hsl(195, 60%, 4%);

  --color-bg: hsl(208, 71%, 98%);
  --color-bg-muted: hsl(208, 71%, 93%);
  --color-text: hsl(195, 56%, 16%);
  --color-text-muted: hsl(195, 37%, 34%);
  --color-primary: hsl(2, 60%, 46%);
  --color-secondary: hsl(305, 25%, 42%);

  --space-s: 0.25rem;
  --space-m: 0.5rem;
  --space-l: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --border-radius-s: 4px;
  --border-radius-m: 6px;

  --border-width-s: 1px;
  --border-width: 2px;

  --thumbnail-width: 96px;
  --album-width: 240px;
  --author-width: 320px;
  --articles-width: 800px;
  --container-width: 1280px;
  --content-width: 1440px;

  --duration: 300ms;
  --animation-duration: 900ms;
}

[data-theme='dark'] {
  --color-text: hsl(208, 71%, 98%);
  --color-text-muted: hsl(208, 71%, 83%);
  --color-bg: hsl(195, 56%, 16%);
  --color-bg-muted: hsl(195, 37%, 25%);
  --color-primary: hsl(37, 69%, 64%);
  --color-secondary: hsl(306, 25%, 68%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(208, 71%, 98%);
    --color-text-muted: hsl(208, 71%, 83%);
    --color-bg: hsl(195, 56%, 16%);
    --color-bg-muted: hsl(195, 37%, 25%);
    --color-primary: hsl(37, 69%, 64%);
    --color-secondary: hsl(306, 25%, 68%);
  }
}

@media (prefers-reduced-motion) {
  :root {
    --duration: 0;
    --animation-duration: 0;
    --scroll-behavior: initial;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

picture {
  display: inline-flex;
}

button {
  position: relative;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-bg-muted);
}

:focus {
  outline: var(--border-width) dashed var(--color, var(--color-primary));
  outline-offset: var(--outline-offset, var(--border-width));
}

.container {
  padding: var(--space-l);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

.full-bleed {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: var(--space-xl);
  }
}
