.attachments {
  flex: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: var(--space-l);
  border-top: var(--border-width) solid var(--color-bg-muted);
  width: 100%;
}

.attachments h2 {
  flex: 1 0 100%;
  font-size: var(--font-size-h4);
}

.attachments button {
  flex: 0 0 calc(50% - var(--space-l) * 0.5);
  display: inline-flex;
  border-radius: var(--border-radius-m);
  border: none;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.attachments [data-hidden-items]::after {
  content: attr(data-hidden-items);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-muted);
  color: var(--color-text-muted);
  font-size: var(--font-size-h1);
  font-family: var(--font-serif);
  font-weight: 700;
  opacity: 0.95;
}

.attachments figure {
  display: flex;
}

.attachments picture,
.attachments img {
  min-width: 96px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

@media screen and (min-width: 960px) {
  .attachments {
    position: sticky;
    border-radius: var(--border-radius-m);
    padding: var(--space-l);
    top: var(--space-xxl);
    min-width: var(--album-width);
    background-color: var(--color-bg-muted);
  }

  .attachments h2 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .attachments {
    min-width: var(--author-width);
  }
}
