.author {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.author picture {
  display: inline-flex;
}

.author img {
  border-radius: 9999px;
  border: var(--border-width, 2px) solid var(--border-color, var(--color-text));
}

@media screen and (min-width: 768px) {
  .author {
    flex-direction: column;
    text-align: center;
  }

  .author picture {
    align-self: center;
  }
}
