.author {
  display: flex;
  align-items: center;
  gap: var(--space-l);
  border-top: var(--border-width) solid var(--color-bg-muted);
  padding: var(--space-xxl) 0;
}

.author picture {
  display: inline-flex;
}

.author img {
  border-radius: 9999px;
  border: var(--border-width, 2px) solid var(--border-color, var(--color-text));
}

@media screen and (min-width: 768px) {
  .author {
    position: sticky;
    /* flex: 1 0 var(--author-width); */
    flex-direction: column;
    border: none;
    padding: 0;
    top: var(--space-xl);
    max-width: var(--author-width);
    text-align: center;
    z-index: -1;
  }

  .author picture {
    align-self: center;
  }
}
