body {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  min-height: 100vh;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding-bottom: var(--space-xl);
  margin-bottom: var(--space-xxl);
  border-bottom: var(--border-width) solid var(--color-bg-muted);
  color: var(--color-text-muted);
}

#content {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--space-xxl);
  width: 100%;
  max-width: var(--content-width);
}

@media screen and (min-width: 768px) {
  #content {
    flex-direction: row-reverse;
  }
}
