.description {
  flex: 1 0 100%;
  margin-bottom: var(--space-xl);
  color: var(--color-text);
  font-size: var(--font-size-h5);
}

@media screen and (min-width: 768px) {
  .meta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
