.post {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  line-height: var(--lh-extended);
  font-size: var(--font-size-h5);
  word-break: normal;
}

.meta.meta {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.tags {
  flex: 1 0 100%;
  justify-content: center;
  margin: var(--space-l) 0;
}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: var(--space-xxl);
  max-width: 100%;
}

.featured {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 960px) {
  .post {
    flex-direction: row;
  }
}
