.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  border: var(--border-width) solid var(--color-bg-muted);
  border-radius: var(--border-radius-m);
  margin: inherit;
  overflow: hidden;
}

.preview h2 {
  margin-top: 0;
  margin-bottom: var(--space-s);
}

.preview h2 a {
  position: initial;
}

.preview h2 a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preview a {
  text-decoration: none;
}

.preview a:focus,
.preview a:hover {
  text-decoration: underline;
}

.preview a:not([data-cover]) {
  z-index: 1;
}

.preview .categories {
  align-self: flex-end;
}

.preview .categories a,
.preview .tags a {
  text-decoration: none;
}

.preview .date {
  line-height: var(--lh-condensed);
}

.preview .read-more {
  align-self: flex-end;
}

.preview .read-more::after {
  content: ' \2192';
  user-select: none;
}

@media screen and (min-width: 768px) {
  .preview {
    transition: background-color var(--duration) ease-in;
  }

  .preview:hover,
  .preview:focus-within {
    background-color: var(--color-bg-muted);
  }
}
