h1,
h2,
h3,
h4,
h5,
p,
span,
small,
strong {
  color: var(--color-text);
}

amp-story-page {
  background-color: var(--color-dark);
}

amp-story-grid-layer[data-text] {
  background: linear-gradient(
    to top,
    var(--color-dark) 5%,
    transparent 66.667%
  );
}

amp-story-grid-layer[data-bottom] {
  align-content: end;
}
