@font-face {
  font-family: 'Merriweather Sans';
  font-weight: 300;
  font-variation-settings: 'wght' 300;
  src: url('/fonts/MerriweatherSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url('/fonts/Merriweather-Bold.ttf');
}

:root {
  --font-sans: 'Merriweather Sans', -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
    roboto, noto, arial, sans-serif;
  --font-serif: 'Merriweather', Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --font-base: 16px;
  --font-size-h1: 1.802rem;
  --font-size-h2: 1.602rem;
  --font-size-h3: 1.424rem;
  --font-size-h4: 1.266rem;
  --font-size-h5: 1.125rem;
  --font-size: 1rem;
  --font-size-s: 0.889rem;

  --lh-normal: 1.5;
  --lh-condensed: 1.25;
  --lh-narrow: 1;

  --ls-normal: 0ch;
  --ls-extended: 0.125ch;
  --ls-wide: 0.5ch;
}

*,
::after,
::before {
  line-height: var(--line-height, inherit);
  letter-spacing: var(--letter-spacing, inherit);
}

html {
  font-size: var(--font-base);
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--line-height, var(--lh-normal));
  letter-spacing: var(--letter-spacing, var(--ls-normal));
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--font-serif);
  font-weight: 700;
  line-height: 1.3;
  color: inherit;
}

h1 {
  margin-top: 0;
  font-size: var(--font-size-h1);
  text-align: center;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4,
.super {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

small,
.text-small {
  font-size: var(--font-size-s);
}

a,
a:hover,
a:focus,
a:visited {
  position: relative;
  color: var(--link-color, var(--color-primary));
}

strong {
  font-weight: 700;
  font-variation-settings: 'wght' 700;
}

p {
  margin-bottom: var(--space-l);
}

[data-back] {
  padding-left: 1.5ch;
}

[data-forward] {
  padding-right: 1.5ch;
}

[data-back]::before {
  content: '\2190';
  position: absolute;
  left: 0;
  user-select: none;
}

[data-forward]::after {
  content: '\2192';
  position: absolute;
  right: 0;
  user-select: none;
}

.muted {
  color: var(--color-text-muted);
}

.separator {
  position: relative;
  display: block;
  margin: var(--space-l) 0 var(--space-l) var(--space-xxl);
  color: var(--separator-color, var(--color-text-muted));
  font-size: var(--font-size-h5);
}

.separator::before {
  content: '';
  position: absolute;
  height: var(--border-width-s);
  width: var(--space-xl);
  top: 50%;
  right: calc(100% + (var(--space-xxl) - var(--space-xl)));
  background-color: var(--separator-color, var(--color-text-muted));
}

.categories {
  --color: var(--color-secondary);
  font-size: var(--font-size-s);
  text-transform: uppercase;
  letter-spacing: var(--ls-extended);
}

.tags {
  --border-radius-s: 9999px;
  --color: var(--color-text-muted);
  font-size: var(--font-size-s);
}

.categories a,
.tags a {
  border-radius: var(--border-radius-s);
  border: var(--border-width-s) solid var(--color);
  padding: var(--space-s) var(--space-m);
  color: var(--color);
}

.categories a:hover,
.categories a:focus,
.tags a:hover,
.tags a:focus {
  text-decoration: none;
  background-color: var(--color);
  color: var(--color-bg-muted);
}

.tags a::before {
  content: '#';
  user-select: none;
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-h1: 2.488rem;
    --font-size-h2: 2.074rem;
    --font-size-h3: 1.728rem;
    --font-size-h4: 1.44rem;
    --font-size-h5: 1.2rem;
    --font-size-s: 0.833rem;
  }

  .separator {
    flex: 1 0 auto;
    width: 100%;
  }

  .categories {
    font-size: var(--font-size);
  }
}
