---
layout: base.njk
---

<style data-helmet>
  {% include 'styles/default.css' %}
</style>

{% include 'header.njk' %}

<div id="content" class="container">
  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>

  {% include 'author.njk' %}
</div>

{% include 'footer.njk' %}

<script>
  {% include 'js/service-worker.js' %}
</script>
