---
layout: base.njk
---

<style data-helmet>
  {% include 'styles/default.css' %}
</style>

<div class="container">
  {% include 'header.njk' %}

  <main>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>
</div>