---
layout: default.njk
---

{% macro generateList(name, list, link) %}
  {% if list.length %}
    <ul class="list-horizontal {{ name }}">
      {% for item in list %}
        <li><a href="{{ link + '/' + item.slug | absoluteUrl }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% set categories = generateList('categories', post.categories, '/category') %}
{% set tags = generateList('tags', post.tags, '/tag') %}

<style data-helmet="post">
  {% include 'styles/post.css' %}
</style>

<aside class="meta">
  {% if post.tags.length %}
    {{ tags }}
  {% endif %}

  <span>
    <strong><time datetime="{{ post.date }}">{{ post.date | dateStringFormatted }}</time></strong>
    {% if post.modified and post.date != post.modified %}
      <small>&#x2022; zuletzt geändert am <time datetime="{{ post.modified }}">{{ post.modified | dateStringFormatted }}</time></small>
    {% endif %}
  </span>

  {% if post.categories.length %}
    {{ categories }}
  {% endif %}
</aside>

{% if post.featured_media %}
  {% set attachment = post.attachments[0] %}

  <figure class="featured-container">
    {% image 
              attachment.source, 
              attachment.alt or attachment.caption, 
              [375, 640, 960, 1280, 1600, null], 
              '(min-width: 768px) 50%, (min-width: 960px) 66%, 100%', 
              { class: 'featured', loading: 'eager', style: 'aspect-ratio: ' + attachment.width + '/' + attachment.height + ';' }
    %}
    {% if attachment.caption.length %}<figcaption class="sr-only">{{ attachment.caption }}</figcaption>{% endif %}
  </figure>
{% endif %}

<div class="post">
  <div>
    {{ content | safe }}
  </div>

  {% if post.attachments.length %}

    <style data-helmet="attachments">
      {% include 'styles/attachments.css' %}
    </style>

    <style data-helmet="backdrop">
      {% include 'styles/backdrop.css' %}
    </style>

    {% include 'js/alpine.njk' %}

    <section class="attachments" x-data="backdrop">
      <h2>Bilder</h2>
      {% asyncEach attachment in post.attachments %}
        <button type="button" @click="openBackdrop, setIndex({{ loop.index }})">
          <figure>
            {% image attachment.source, attachment.alt or attachment.caption, [96, 192, 380, 540, null], '(min-width: 960px) 96px, (min-width: 1280px) 180px, 180px' %}
            {% if attachment.caption %}<figcaption class="sr-only">{{ attachment.caption }}</figcaption>{% endif %}
          </figure>
        </button>
      {% endeach %}

      <template x-if="open">
        <div class="backdrop" role="dialog" data-theme="dark" @keyup.window.escape="closeBackdrop">
          <button type="button" @click="closeBackdrop" data-close>Schließen</button>
          <div class="slider" @click.self="closeBackdrop">
            {% asyncEach attachment in post.attachments %}
            <figure>
              {% image attachment.source, attachment.alt or attachment.caption, [320, 640, 1280, 1920, null] %}
              {% if attachment.caption %}<figcaption>{{ attachment.caption }}</figcaption>{% endif %}
            </figure>
            {% endeach %}
          </div>
        </div>
      </template>
    </section>
    
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.data('backdrop', () => ({
          index: 0,
          open: false,

          init() {
            this.$watch('open', (value) => {
              document.body.style.overflow = value ? 'hidden' : 'initial';

              const el = document.querySelector('.backdrop figure:nth-child(' + this.index + ')');
              el?.scrollIntoView();
            });
          },
          closeBackdrop() {
            this.open = false;
          },
          openBackdrop() {
            this.open = true;
          },
          setIndex(index) {
            this.index = index;
          }
        }));
      });
    </script>
  {% endif %}
</div>