---
layout: default.njk
---

{% macro generateList(name, list, link) %}
  {% if list.length %}
    <ul class="list-horizontal {{ name }}">
      {% for item in list %}
        <li><a href="{{ link + '/' + item.slug | absoluteUrl }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% set categories = generateList('categories', post.categories, '/category') %}
{% set tags = generateList('tags', post.tags, '/tag') %}

<style data-helmet="post">
  {% include 'styles/post.css' %}
</style>

<aside class="meta">
  {% if post.tags.length %}
    {{ tags }}
  {% endif %}

  <span>
    <strong><time datetime="{{ post.date }}">{{ post.date | dateStringFormatted }}</time></strong>
    {% if post.modified and post.date != post.modified %}
      <small>&#x2022; zuletzt geändert am <time datetime="{{ post.modified }}">{{ post.modified | dateStringFormatted }}</time></small>
    {% endif %}
  </span>

  {% if post.categories.length %}
    {{ categories }}
  {% endif %}
</aside>

{% if featured_image %}
  {% set attachment = featured_image %}

  <figure class="featured-container">
    {% image 
              attachment.source, 
              attachment.alt or attachment.caption, 
              [375, 640, 960, 1280, 1600, null], 
              '(min-width: 768px) 50vw, (min-width: 960px) 66vw, 100vw', 
              { class: 'featured', loading: 'eager', style: 'aspect-ratio: ' + attachment.width + '/' + attachment.height + ';' }
    %}
    {% if attachment.caption.length %}<figcaption class="sr-only">{{ attachment.caption }}</figcaption>{% endif %}
  </figure>
{% endif %}

<div class="post">
  <div data-content>
    {{ content | safe }}
  </div>

  {% if post.attachments.length %}

    <style data-helmet="attachments">
      {% include 'styles/attachments.css' %}
    </style>

    {% set story = permalink + 'story.html' | absoluteUrl %}

    <section class="attachments" x-data="story('{{ story }}')">
      <h2>Bilder</h2>
      {% set attachments = post.attachments | take(4) %}
      {% set hiddenitems = post.attachments.length - attachments.length %}
      {% asyncEach attachment in attachments %}
        <button type="button" @click="openBackdrop"{% if loop.last and hiddenitems %} data-hidden-items="+{{ hiddenitems + 1 }}"{% endif %}>
          {% image attachment.source, attachment.alt or attachment.caption, [96, 192, 380, 540, null], '(min-width: 960px) 96px, (min-width: 1280px) 180px, 180px' %}
        </button>
      {% endeach %}

      {% include 'backdrop.njk' %}
  {% endif %}
</div>


{% set post = pagination.page.previous %}
{% setAsync "previous" %}
  {% include 'preview.njk' %}
{% endsetAsync %}

{% set post = pagination.page.next %}
{% setAsync "next" %}
  {% include 'preview.njk' %}
{% endsetAsync %}

{% if pagination.page.previous or pagination.page.next %}
  <section class="read-on" aria-labelledby="read-on">
    <span id="read-on">Weitere Beiträge</span>
      <div data-previous{% if not pagination.page.previous %} data-no-entry{% endif %}>
    {% if pagination.page.previous %}
      {{ previous | safe }}
    {% else %}
      <section class="preview container" data-no-entry>
        <h2>Du bist am Anfang.</h2>
        <p>
          Das hier war der neueste Beitrag.
        </p>
        <a href="{{ '/' | absoluteUrl }}" data-back>Zurück zur Startseite.</a>
      </section>
    {% endif %}
      </div>

      <div data-next{% if not pagination.page.next %} data-no-entry{% endif %}>
    {% if pagination.page.next %}
      {{ next | safe }}
    {% else %}
      <section class="preview container" data-no-entry>
        <h2>Du bist am Ziel.</h2>
        <p>
          Keine weiteren Beiträge vorhanden.
        </p>
        <a href="{{ '/' | absoluteUrl }}" data-back>Zurück zur Startseite.</a>
      </section>
    {% endif %}
      </div>
  </section>
{% endif %}