---
pagination:
  data: collections.posts
  size: 10
  generatePageOnEmptyData: true
  reverse: true

permalink: /blog{%if pagination.pageNumber%}/page/{{ pagination.pageNumber + 1 }}{% endif %}/
---

{% if pagination.items.length %}
  <style data-helmet="articles">
    {% include 'styles/articles.css' %}
  </style>

  <div class="articles">

    {% asyncEach post in pagination.items %}

      {% if loop.index0 %} {# Targets each post apart the first one, since no previous post is available #}
        {% set previousPost = pagination.items[loop.index0 - 1] %}

        {% set previous = previousPost.date | parseDate | dateObj %}
        {% set current = post.date | parseDate | dateObj %}

        {% if previous.month != current.month or previous.year != current.year %}
          <time class="separator" datetime="{{ post.date | dateStringFormatted('YYYY-MM') }}" role="separator">{{ post.date | dateStringFormatted("MMMM YYYY") }}</time>
        {% endif %}
      {% endif %}

      {% include 'preview.njk' %}

    {% endeach %}

  </div>

  {% include 'page_links.njk' %}

{% else %}

<p>Keine Beiträge vorhanden...</p>

{% endif %}
