---
pagination:
  data: posts
  size: 10
  generatePageOnEmptyData: true
---

{% if pagination.items.length %}
  <style data-helmet="articles">
    {% include 'styles/articles.css' %}
  </style>

  <div class="articles">

    {% asyncEach post in pagination.items %}

      {% include 'preview.njk' %}

    {% endeach %}

  </div>

{% else %}

<p>No posts available...</p>

{% endif %}