---js
{
  pagination: {
    alias: 'tag',
    data: 'tags',
    size: 1,
    before(data) {
      return data.filter(({ count }) => !!count)
    }
  }
}
---

{% if tag.description.length %}
<p>{{ tag.description }}</p>
{% endif %}

<section>
  <h2>Posts tagged with <strong>{{ tag.name }}</strong></h2>

  {% for post in tagPosts %}
{% include 'preview.njk' %}
  {% endfor %}
</section>