---
layout: false
permalink: feed.json
---

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ manifest.name }}",
  "language": "{{ pkg.language }}",
  "home_page_url": "{{ url }}",
  "feed_url": "{{ permalink | url | absoluteUrl(url) }}",
  "description": "{{ pkg.description }}",
  "author": {
    "name": "{{ pkg.author.name }}",
    "url": "{{ pkg.author.url }}"
  },
  "items": [
    {% if collections.posts.length %}
      {% for post in collections.posts | reverse %}
        {% set permalink = '/post' + post.permalink %}
        {% set absolutePostUrl = permalink | url | absoluteUrl(url) %}
        {
          "id": "{{ absolutePostUrl }}",
          "url": "{{ absolutePostUrl }}",
          "title": "{{ post.title.rendered }}",
          "content_html": {% if post.content.rendered %}{{ post.content.rendered | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
          "date_published": "{{ post.date | parseDate | dateToRfc3339 }}"
        }
        {% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  ]
}
