---
layout: false
permalink: feed.xml
---

<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ url }}">
  <title>{{ manifest.name }}</title>
  <subtitle>{{ pkg.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(url) }}" rel="self"/>
  <link href="{{ url }}"/>
  <updated>{{ posts | getLatestDate | dateToRfc3339 }}</updated>
  <id>{{ url }}</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  {% if collections.posts.length %}
    {% for post in collections.posts | reverse %}
      {% set permalink = '/post' + post.permalink %}
      {% set absolutePostUrl = permalink | url | absoluteUrl(url) %}
      <entry>
        <title>{{ post.title.rendered }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | parseDate | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <summary type="html">{{ post.excerpt.rendered | safe }}</summary>
        <content xml:lang="{{ pkg.language }}" type="html">
          <![CDATA[ {{ post.content.rendered | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
          {% if post.attachments.length %}
            {% for attachment in post.attachments %}
              <figure>
                {% image attachment.source, attachment.alt or attachment.caption, [640, 1280, 1920, null], '100vw' %}
                {% if attachment.caption %}<figcaption>{{ attachment.caption }}</figcaption>{% endif %}
              </figure>
            {% endfor %}
          {% endif %} ]]>
        </content>
      </entry>
    {% endfor %}
  {% endif %}
</feed>
