name: Build and test

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      DEBUG: localhost-screenshot

    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set COMMIT_MESSAGE env
        run: |
          SHORT_SHA=$(git rev-parse --short $GITHUB_SHA)
          echo "COMMIT_SHA=($SHORT_SHA)" >> $GITHUB_ENV

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.tool-versions'

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-deps-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-deps-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      # - name: Create website screenshots (light mode)
      #   uses: saschazar21/actions/packages/localhost-screenshot@main
      #   with:
      #     devices: iPad, iPhone 11, Desktop
      #     dist: dist

      # - name: Create website screenshots (dark mode)
      #   uses: saschazar21/actions/packages/localhost-screenshot@main
      #   with:
      #     dark: true
      #     devices: iPad, iPhone 11, Desktop
      #     dist: dist

      # - name: Upload screenshots
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: screenshots
      #     path: /home/runner/work/_temp/_github_home/**.png
